.medical-cases {
    .cases-title button {
        float: right;
        margin-top: -4px;
    }
}

.medical-case-image-container {
    height: auto;
}

.medical-case-image {
    max-width: 200px;
    display: inline-block;
}
